img{border-radius:80px;

  
}
h1{text-align:center;color: lightcoral;
  
}
h3{text-align:center;
  
}
p{text-align: center;
background-color: #80A195;
/* background: linear-gradient(grey, white,grey );*/
padding: 15px;
border-radius: 5px;
  
}
footer{text-align: center;
  
}
